<br><br>

<form #form="ngForm" (ngSubmit)="getPass(form)">
	<div class="form-group">
		<label for="email">Email</label>
		<input id = 'email' name = 'email' #email='ngModel' type="email" [(ngModel)]="forgotPassForm.email" class="form-control" />
		<div class="invalid-feedback">
			<div>Email is required</div>
		</div>
	</div>
	<div class="form-group">
		<button id = 'forgotpassbutton' class="btn btn-primary">
			<span class=" spinner-border-sm mr-1"></span>
			Submit
		</button>
	</div>

</form>