<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="viewprofile" routerLinkActive="router-link-active">View Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="updateprofile" routerLinkActive="router-link-active">Update Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="createaccount" routerLinkActive="router-link-active">Create Account</a>
       
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="closeaccount" routerLinkActive="router-link-active">Close Account</a>
    </li>
  </ul>
<router-outlet></router-outlet>